html,
body {
  background-color: var(--main-bg-color);
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  font-family: Verdana, Geneva, sans-serif;
  user-select: none;
}

.active_drag * {
  pointer-events: none !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #0000008c;
  border: 2px solid grey;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.7;
}

/* Generic Components */
.bar {
  border-bottom: thin solid var(--border-high-color);
  padding: 5px 15px;
  display: flex;
  flex-direction: row;
}

.bar .collapsebutton {
  margin-left: -17px;
  margin-right: 15px;
  border: thin solid var(--border-high-color);
  height: 20px;
}

.bar input {
  width: 100%;
}

.btn {
  border: thin solid black;
  cursor: pointer;
  padding: 2px;
  font-size: 13px;
  margin: 2px;
  border-radius: 2px;
  background: var(--btn-bg-color);
  user-select: none;
}

.active img {
  filter: invert(42%) sepia(93%) saturate(252%) hue-rotate(87deg)
    brightness(119%) contrast(119%);
}
