#titlebar {
  -webkit-app-region: drag;
  user-select: none;
  width: 100%;
  height: 30px;
  padding: 5px;
  display: none;
  flex: 0;
  background-color: var(--sep-color);
}

#window_content {
  -webkit-app-region: no-drag;
  display: flex;
  flex-direction: row;
  display: flex;
  flex: 1;
  overflow: hidden;
}

#left_panel {
  width: 100%;
  min-width: 450px;
  height: 100%;
  display: flex;
  flex-direction: row;
  background: var(--main-bg-color);
  overflow: hidden;
}

#stories_panel {
  display: none;
  flex-direction: column;
  height: 100%;
  position: relative;
}

#left_panel[active_panel="stories"] #stories_panel {
  display: flex;
}

#left_panel[active_panel="settings"] #settings_panel {
  display: flex;
}

#menu {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 0 0 89px;
  padding-top: 5px;
  border-right: 2px solid var(--sep-color);
  overflow: hidden;
}

#left_main {
  display: flex;
  flex-direction: column;
  width: 80%;
  flex: 1 1;
}

#right_panel {
  width: 50%;
  height: 100%;
  min-width: 20%;
  display: flex;
  flex-direction: column;
}

#tab_content {
  width: 100%;
  height: 100%;
}

#webtab {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#webview {
  width: 100%;
  height: 100%;
  border: none;
}

#foverlay {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 5;
  display: none;
  opacity: 0.5;
}

#sep_slider {
  background-color: var(--sep-color);
  top: 0;
  left: 50%;
  border: thin solid rgb(196, 163, 163);
  width: 4px;
  height: 100%;
  cursor: w-resize;
  user-select: none;
  z-index: 15;
}

.fullscreen #controlbar,
.fullscreen #sep_slider,
.fullscreen #left_panel,
.fullscreen #selected_container,
.fullscreen #tab_dropzone {
  display: none;
}
