#left_panel .bar {
  justify-content: space-between;
}

#menu .btn {
  margin: 2px 8px;
  padding: 2px;
}

.bar_btn {
  padding: 3px;
  margin: 0;
  margin-left: 3px;
}

.bar_btn img {
  margin: 2px;
  margin-bottom: -1px;
}

#menu_btn {
  font-size: 14px;
  padding: 3px;
  margin: 0;
  margin-left: -13px;
  margin-right: 3px;
}

#menu .sub {
  border-top: thin solid var(--border-high-color);
  cursor: pointer;
  font-size: 13px;
  display: flex;
  flex-direction: column;
}

#menu .heading {
  display: flex;
  padding: 5px;
}

#menu .heading p {
  padding-left: 3px;
  margin: 0;
}

#menu.collapse .heading p,
#menu.collapse .type,
#menu.collapse .group {
  display: none;
}

#menu.collapse {
  flex: 0 0 28px;
}
